<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <%- include('../../template/include/style'); %>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
<%- include('../../template/include/header'); %>

<div class="container blog-content">

    <div class="row">

        <div class="col-sm-9 blog-main">

            <div class="row">
                <div class="col-sm-12">

                    <% articles.forEach(function(article){ %>
                    <section class="blog-post">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="blog-post-meta">
                                    <% article.tags.forEach(function(tag){ %>
                                    <span class="label label-light label-success"><%= tag %></span>
                                    <% }); %>
                                    <p class="blog-post-date pull-right"><%= article.uploadtime %></p>
                                </div>
                                <div class="blog-post-content">
                                    <a href="/article/<%= article.url %>">
                                        <h2 class="blog-post-title"><%= article.title %></h2>
                                    </a>
                                    <p><%= article.brief %></p>
                                    <a class="btn btn-info" href="/article/<%= article.url %>">查看详情</a>
                                </div>
                            </div>
                        </div>
                    </section><!-- /.blog-post -->
                    <% }); %>

                </div>
            </div>

            <nav>
                <ul class="pager">
                    <li><a class="withripple" href="#">Previous</a></li>
                    <li><a class="withripple" href="#">Next</a></li>
                </ul>
            </nav>

        </div><!-- /.blog-main -->

        <%- include('../../template/include/article_sidebar'); %>

    </div><!-- /.row -->

</div><!-- /.container -->
<%- include('../../template/include/footer'); %>
<%- include('../../template/include/script'); %>

<script src="/static/js/home.js"></script>

<%- include('../../template/include/fonts'); %>
</body>

</html>